@{
  Layout = "_Layout";
}

@using Factory.ViewModels

@model LoginViewModel

<h1>Log in with your account</h1>
<hr />

<div class="card center">
  <div class="card-body">
@using (Html.BeginForm())
{
  @Html.LabelFor(m => m.Email)
  <p>@Html.TextBoxFor(m => m.Email)</p>

  @Html.LabelFor(m => m.Password)
  <p>@Html.PasswordFor(m => m.Password)</p>

  <input type="submit" value="Log in" class="btn btn-success" />
}
  </div>
</div>